@font-face {
  font-family: 'Cormorant-Garamond';
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf);
}

@font-face {
  font-family: 'Cormorant-Garamond';
  src: url(../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf);
  font-weight: bold;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fffccc;
  color: saddlebrown;
  font-family: Cormorant-Garamond, serif;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  padding-bottom: 1%;
}

.center_text {
  text-align: center;
}

a {
  color: saddlebrown;
  font-family: Cormorant-Garamond, serif;
}

.inner_1 {
  margin: 0 auto;
  border-style: outset;
  border-width: 2px;
  border-color: #e5e4e2;
  /*box-shadow: 10px 10px;*/
  width: fit-content;
  max-height: 100%;
  overflow-x: scroll;
  word-wrap: break-word;
  padding: 0.75%;
}

.bottom_text {
  font-size: x-small;
  /*margin-bottom: 2%;
  bottom: 0;
  width: 100%;
  align: center;
  position: fixed;
  text-align: center;*/
}
